body {
    margin: 0;
    background-color: #fcfcfc;
    position: relative;
}

main#home {
    width: calc(100vw - var(--margin));
    margin: calc(var(--margin) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

main#home section#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
}

main#home section#intro div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main#home section#intro div.title h1 {
    color: #1d1d1d;
    font-family: "Main";
    font-size: 5rem;
    margin: 0;
}

main#home section#intro div.title h1 span {
    color: var(--main);
}

main#home section#intro div.title p {
    margin: 0;
    color: #1d1d1d;
    font-family: "Main";
    font-size: 1.5rem;
}

main#home section#intro img {
    max-width: 55vw;
    max-height: 100%;
}

main#home section#articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

main#home section#articles nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main#home section#articles nav button {
    border: none;
    background: none;
    color: #828282;
    font-family: "Main";
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    cursor: pointer;
}

main#home section#articles nav button img {
    height: 15px;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    main#home section#intro div.title h1 {
        font-size: 4rem;
    }
    main#home section#intro img {
        max-width: 50vw;
    }
}

@media (max-width: 991px) {
    main#home {
        overflow: hidden;
    }
    main#home section#intro div.title h1 {
        font-size: 3rem;
    }
    main#home section#intro img {
        max-width: 45vw;
    }
}

@media (max-width: 787px) {
    main#home section#intro {
        flex-direction: column;
        justify-content: center;
        height: 50vh;
    }
    main#home section#intro div.title {
        order: 2;
    }
    main#home section#intro img {
        order: 1;
    }
    main#home section#articles nav {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    main#home section#articles nav::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

:root {
    --margin: 200px;
    --main: #e3b64f;
    --diviser: 4;
    --big: 2;
    font-family: "Main";
}

@media (max-width: 1200px) {
    :root {
        --diviser: 3;
        --big: 2;
        --margin: 100px;
    }
}

@media (max-width: 991px) {
    :root {
        --diviser: 2;
        --big: 1;
        --margin: 100px;
    }
}

@media (max-width: 787px) {
    :root {
        --diviser: 1;
        --big: 1;
        --margin: 50px;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all linear 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3C3C3C;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    background-color: #e3b64f;
    color: #ffffff;
    font-weight: bold;
}

::selection {
    background-color: #e3b64f;
    color: #ffffff;
    font-weight: bold;
}

@font-face {
    font-family: "Main";
    src: url("/fonts/BAHNSCHRIFT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

div.article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    flex: 1 1 0;
}

div.article-container div.container-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    flex: 1 1 0;
}

div.article-container div.container-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    flex: 1 1 0;
    z-index: 0;
}

a.article {
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .3s all;
    border-radius: 5px;
    z-index: 1;
}

a {
    text-decoration: initial !important;
}

.big-box {
    width: calc(100% / var(--diviser) * var(--big) - 20px);
    height: 45vh;
}

.box {
    width: calc(100% / var(--diviser) - 20px);
    height: 40vh;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

a.article:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    z-index: 10;
}

article div.image {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
    height: 20vh;
    transition: .3s all;
}

article div {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

article div time {
    color: var(--main);
    font-family: "Main";
    font-size: 1rem;
    margin: 0;
    margin-left: 5px;
}

article div h2 {
    color: #1d1d1d;
    font-family: "Main";
    font-size: 1.1rem;
    font-weight: bold;
    width: 75%;
    margin: 0;
    margin-top: 15px;
}

a.big-box article div h2 {
    font-size: 2rem;
}

article div span {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #828282;
    font-family: "Main";
    font-size: 1rem;
}

article div span img {
    height: 25px;
    margin-right: 15px;
}

a.self-promo-link {
    height: 100%;
    margin: 10px;
    text-decoration: none !important;
}

div.self-promo {
    background: rgb(227,182,79);
    background: linear-gradient(90deg, rgba(227,182,79,1) 0%, rgba(227,136,79,1) 100%);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 8;
}

div.self-promo::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(227,182,79);
    background-image: linear-gradient(45deg, rgba(227,182,79,0) 0%, rgba(227,136,79,1) 100%);
    transition: .3s background-color;
    z-index: 9;
}

div.self-promo:hover::before {
    background-color: rgb(255, 208, 113);
}

div.self-promo img {
    position: absolute;
    height: 75%;
    bottom: 0;
    right: 0;
    transform: translateX(40%);
    z-index: 11;
}

div.self-promo h2 {
    color: #1d1d1d;
    font-family: "Main";
    font-size: 1.5rem;
    font-weight: bold;
    width: 60%;
    margin: 0;
    margin-top: 15px;
    z-index: 11;
}

div.self-promo p {
    color: #1d1d1d;
    font-family: "Main";
    font-size: 1.2rem;
    width: 60%;
    margin: 0;
    margin-top: 15px;
    z-index: 11;
}

div.self-promo div {
    padding: 15px 25px;
    background-color: #2d2d2d;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Main";
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top: 25px;
    z-index: 11;
}

@media (max-width: 1200px) {
    a.big-box article div h2 {
        font-size: 1.4rem;
    }
    div.self-promo h2 {
        font-size: 1.3rem;
        width: 70%;
    }
    div.self-promo p {
        font-size: 1rem;
        width: 70%;
    }
    div.self-promo div {
        font-size: 1rem;
    }
    div.self-promo img {
        height: 45%;
    }
    a.self-promo-link {
        width: calc(100% / var(--diviser) * var(--big) - 20px);
        width: calc(100% / var(--diviser) * 1 - 20px);
    }
}

@media (max-width: 991px) {
    a.self-promo-link {
        width: calc(100% / var(--diviser) * var(--big) - 20px);
        height: 45vh;
    }
}

body {
    margin: 0;
    background-color: #fcfcfc;
    position: relative;
}

main#search {
    width: calc(100vw - var(--margin));
    margin: calc(var(--margin) / 2);
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

main#search section#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%;
}

main#search section.empty {
    height: 75vh !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

main#search section.empty img {
    width: 45%;
}

main#search section#intro div.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

main#search section#intro div.search input {
    width: 75%;
}

main#search section#intro div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}

main#search section.empty div.title {
    align-self: center !important;
}

main#search section#intro div.title h1 {
    color: #1d1d1d;
    font-family: "Main";
    font-size: 3rem;
    margin: 0;
}

main#search section#intro div.title h1 span {
    color: var(--main);
}

main#search section#intro div.title p {
    margin: 0;
    color: #1d1d1d;
    font-family: "Main";
    font-size: 1.5rem;
}

main#search section#articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

main#search section#articles nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main#search section#articles nav button {
    border: none;
    background: none;
    color: #828282;
    font-family: "Main";
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    cursor: pointer;
}

main#search section#articles nav button img {
    height: 15px;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    main#search section#intro div.title h1 {
        font-size: 2.5rem;
    }
    main#search section#intro div.title p {
        font-size: 1.3rem;
    }
}

@media (max-width: 991px) {
    main#search section#intro div.title h1 {
        font-size: 1.8rem;
    }
    main#search section#intro div.title p {
        font-size: 1.1rem;
    }
}

@media (max-width: 787px) {
    main#search section#articles nav {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    main#search section#articles nav::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    main#search section.empty {
        flex-direction: column !important;
        justify-content: center !important;
    }
    main#search section.empty div.title {
        margin-top: 50px;
        order: 2;
    }
    main#search section.empty img {
        order: 1;
    }
    main#search section#intro div.title h1 {
        font-size: 2.2rem;
    }
    main#search section#intro div.title p {
        font-size: 1.3rem;
    }
}

body {
    margin: 0;
    background-color: #fcfcfc;
    position: relative;
}

article#page {
    /*width: calc(100vw - var(--margin));*/
    /*margin: calc(var(--margin) / 2);*/
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    cursor: auto;
}

article#page header#article-head {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: auto;
}

article#page header#article-head::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(227,182,79);
    background: linear-gradient(135deg, rgba(227,182,79,1) 0%, rgba(227,182,79,0) 100%);
}

article#page header#article-head div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 calc(var(--margin)/2);
    padding: 0;
    z-index: 10;
}

article#page header#article-head div time{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 1.2rem;
}

article#page header#article-head div h1{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0;
    width: 50%;
}

article#page header#article-head div span{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 1.2rem;
}

article#page nav {
    width: 100vw;
    padding: 0 calc(var(--margin) / 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 50px;
    background-color: #FFFFFF;
}

article#page nav.attach {
    position: fixed;
    top: 75px;
    z-index: 100;
}

article#page nav button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #FFFFFF;
    text-align: left;
    font-family: 'Main';
    font-size: .9rem;
    cursor: pointer;
    position: relative;
    display: block;
}

article#page nav button div.bar-bg {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 15px);
    height: 3px;
    background-color: #ECECEC;
    padding: 0;
}

article#page nav button div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main);
    padding: 0;
}

article#page section#content {
    width: calc(100% - var(--margin));
    margin: 0 calc(var(--margin) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    cursor: auto;
}

article#page section#content h2 {
    font-size: 3rem;
    color: #353535;
    margin: 25px 0 0 0;
}

article#page section#content h3 {
    font-size: 1.6rem;
    color: var(--main);
    margin: 0;
}

article#page section#content blockquote {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 25px;
    font-size: 1.2rem;
    margin: 0 0 15px;
    overflow: hidden;
    position: relative;
}

article#page section#content blockquote::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--main);
}

article#page section#content p {
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

article#page section#content p img {
    align-self: center;
    max-height: 45vh;
    max-width: 100%;
    border-radius: 10px;
    border: 5px solid #f3f3f3;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 787px) {
}

header#menu {
    position: fixed;
    height: 75px;
    width: 100vw;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header#menu div.container {
    width: calc(100vw - var(--margin));
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header#menu div.container img {
    height: 75px;
}

header#menu div.container div.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header#menu div.container div.nav form {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header#menu div.container div.nav img {
    height: 35px;
}

header#menu div.container div.nav form button {
    height: 100%;
    width: 75px;
    background-color: var(--main);
    border: none;
    cursor: pointer;
}

header#menu div.container div.nav form input {
    height: 100%;
    width: 225px;
    background-color: #f6f6f6;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    padding: 15px 25px;
}

header#menu div.container div.nav button {
    height: 100%;
    width: 75px;
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
}

@media (max-width: 787px) {
    header#menu div.container div.nav form input {
        height: 100%;
        width: 65%;
    }
}

footer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFFFF;
}

footer .top
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100%;
    position: relative;
}

footer .list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: stretch;
    position: relative;
}

@media (max-width: 679px)
{
    footer .list
    {
        justify-content: space-evenly;
    }
}

footer .list .elem
{
    display: flex;
    flex-direction: column;
    flex: none;
    width: calc(25% - 50px);
    margin: 25px;
    justify-content: center;
    padding-left: 50px;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    footer .list .elem
    {
        width: calc(50% - 50px);
    }
}

@media (max-width: 600px) {
    footer .list .elem
    {
        width: calc(80% - 50px);
    }
}

footer .list .elem a
{
    margin-left: 5px;
    color: #393939;
}

footer .list .elem p
{
    margin: 0;
    margin-left: 5px;
    color: #393939;
}

footer .list .elem .point {
    position: relative;
    margin-left: 25px;
}

footer .list .elem .link {
    color: #71ACFA;
    text-decoration: underline;
}

footer .list .elem .point::after
{
    content: ' ';
    position: absolute;
    top: calc(50% - 5px);
    left: -25px;
    height: 10px;
    width: 10px;
    background-color: var(--main);
}

footer .top::after
{
    content: ' ';
    position: absolute;
    left: 5%;
    width: 90%;
    height: 1px;
    bottom: 0;
    background-color: #393939;
}

footer .bottom
{
    margin-bottom: 20px;
    width: 100vw;
    text-align: center;
    font-variation-settings: "wght" 200;
}

