body {
    margin: 0;
    background-color: #fcfcfc;
    position: relative;
}

section#categories {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    cursor: auto;
}
section#categories header#categories-head {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: auto;
}
section#categories header#categories-head::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

section.news header#categories-head::before {background: rgb(227,153,79);
    background: linear-gradient(135deg, rgba(227,153,79,1) 0%, rgba(174,114,163,0.5046393557422969) 50%, rgba(227,79,127,0) 100%);
}
section.iacactu header#categories-head::before {background: rgb(227,79,129);
    background: linear-gradient(135deg, rgba(227,79,129,1) 0%, rgba(108,116,183,0.7483368347338936) 26%, rgba(107,183,185,0.4990371148459384) 50%, rgba(255,255,255,0) 100%);
}
section.all header#categories-head::before {
    background: rgb(79,154,227);
    background: linear-gradient(135deg, rgba(79,154,227,1) 0%, rgba(157,114,174,0.5046393557422969) 50%, rgba(227,79,127,0) 100%);
}
section.short header#categories-head::before {background: rgb(227,151,79);
    background: linear-gradient(135deg, rgba(227,151,79,1) 0%, rgba(183,108,180,0.7483368347338936) 26%, rgba(107,183,185,0.4990371148459384) 50%, rgba(255,255,255,0) 100%);
}

section#categories header#categories-head div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 calc(var(--margin)/2);
    width: calc(100% - var(--margin));
    padding: 0;
    z-index: 10;
}
section#categories header#categories-head div h1{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 4rem;
    margin: 0;
    width: 75%;
}
section#categories header#categories-head div.iacactu-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
section#categories header#categories-head div img.logo{
    height: 100px;
}
section#categories header#categories-head div span{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#categories header#categories-head div h1 span{
    font-family: 'Main';
    color: #FFFFFF;
    font-size: 1.2rem;
    justify-content: flex-start;
    font-weight: normal;
}
section#categories header#categories-head div img{
    height: 25px;
    margin-right: 15px;
}
@media (max-width: 787px) {
    section#categories header#categories-head div h1{
        font-size: 2rem;
    }
    section#categories header#categories-head div span{
        font-size: 1.1rem;
    }
    section#categories header#categories-head {
        height: 25vh;
    }
    section#categories header#categories-head div h1 span{
        font-size: 1rem;
    }
}

section#categories section#articles {
    width: calc(100% - var(--margin));
    margin: 0 calc(var(--margin) / 2);
    padding: 25px;
}
